html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
}
.site-content {
  padding-top: 66px;
}

.header .main-logo {
    width: 5px;
}

.main-logo-svg {
  display: none;
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
.site-pusher,
.site-container {
    height: 100%;
  }
  .site-container {
    overflow: hidden;
  }
  .site-pusher {
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
  .site-content {
    position: absolute;
    top: 66px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .main-logo-svg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .with--sidebar .site-pusher {
    -webkit-transform: translateX(250px);
    -moz-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -o-transform: translateX(250px);
    transform: translateX(250px);
  }
  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}