/** =================== Montserrat-Alt1 =================== **/
/** Montserrat-Alt1 Thin **/
@font-face {
    font-family: "Montserrat-Alt1";
    font-weight: 100;
    font-style: normal;
    src: url("files/MontserratAlt1-Black.woff2") format("woff2"),
         url("files/MontserratAlt1-Black.woff") format("woff");
}
/** Montserrat-Alt1 ExtraLight **/
@font-face {
    font-family: "Montserrat-Alt1";
    font-weight: 200;
    font-style: normal;
    src: url("files/Montserrat-Alt1-ExtraLight.woff2") format("woff2"),
         url("files/Montserrat-Alt1-ExtraLight.woff") format("woff");
}
/** Montserrat-Alt1 Light **/
@font-face {
    font-family: "Montserrat-Alt1";
    font-weight: 300;
    font-style: normal;
    src: url("files/Montserrat-Alt1-Light.woff2") format("woff2"),
         url("files/Montserrat-Alt1-Light.woff") format("woff");
}
/** Montserrat-Alt1 Regular **/
@font-face {
    font-family: "Montserrat-Alt1";
    font-weight: 400;
    font-style: normal;
    src: url("files/Montserrat-Alt1-Regular.woff2") format("woff2"),
         url("files/Montserrat-Alt1-Regular.woff") format("woff");
}
/** Montserrat-Alt1 Medium **/
@font-face {
    font-family: "Montserrat-Alt1";
    font-weight: 500;
    font-style: normal;
    src: url("files/Montserrat-Alt1-Medium.woff2") format("woff2"),
         url("files/Montserrat-Alt1-Medium.woff") format("woff");
}
/** Montserrat-Alt1 SemiBold **/
@font-face {
    font-family: "Montserrat-Alt1";
    font-weight: 600;
    font-style: normal;
    src: url("files/Montserrat-Alt1-SemiBold.woff2") format("woff2"),
         url("files/Montserrat-Alt1-SemiBold.woff") format("woff");
}
/** Montserrat-Alt1 Bold **/
@font-face {
    font-family: "Montserrat-Alt1";
    font-weight: 700;
    font-style: normal;
    src: url("/files/MontserratAlt1-Bold.woff2") format("woff2"),
         url("files/Montserrat-Alt1-Bold.woff") format("woff");
}
/** Montserrat-Alt1 ExtraBold **/
@font-face {
    font-family: "Montserrat-Alt1";
    font-weight: 800;
    font-style: normal;
    src: url("files/Montserrat-Alt1-ExtraBold.woff2") format("woff2"),
         url("files/Montserrat-Alt1-ExtraBold.woff") format("woff");
}
/** Montserrat-Alt1 Black **/
@font-face {
    font-family: "Montserrat-Alt1";
    font-weight: 900;
    font-style: normal;
    src: url("files/Montserrat-Alt1-Black.woff2") format("woff2"),
         url("files/Montserrat-Alt1-Black.woff") format("woff");
}

.hit-the-floor {
    color: #fff;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 
      0 1px 0 #ccc, 
      0 2px 0 #c9c9c9, 
      0 3px 0 #bbb, 
      0 4px 0 #b9b9b9, 
      0 5px 0 #aaa, 
      0 6px 1px rgba(0,0,0,.1), 
      0 0 5px rgba(0,0,0,.1), 
      0 1px 3px rgba(0,0,0,.3), 
      0 3px 5px rgba(0,0,0,.2), 
      0 5px 10px rgba(0,0,0,.25), 
      0 10px 10px rgba(0,0,0,.2), 
      0 20px 20px rgba(0,0,0,.15);
  }
  .colorful-hit-the-floor, .menu a:hover {
        animation: change_colors 6s infinite;
        text-shadow: 
          0 .005em 0 rgba(0, 0, 0, .2), 
          0 .005em 0 currentColor,
          
          0 .01em 0 rgba(0, 0, 0, .25), 
          0 .01em 0 currentColor, 
          
          0 .015em 0 rgba(0, 0, 0, .3),
          0 .015em 0 currentColor,
          
          0 .02em 0 rgba(0, 0, 0, .35), 
          0 .02em 0 currentColor,
           
          0 .025em 0 rgba(0, 0, 0, .4),
          0 .025em 0 currentColor,
          
          0 .03em .005em rgba(0, 0, 0, .1), 
          0 0 .025em rgba(0, 0, 0, .1), 
          0 .005em .015em rgba(0, 0, 0, .3), 
          0 .015em .025em rgba(0, 0, 0, .2), 
          0 .025em .05em rgba(0, 0, 0, .25), 
          0 .05em .05em rgba(0, 0, 0, .2), 
          0 .1em .1em rgba(0, 0, 0, .15);
      }
      @keyframes change_colors {
          0% { color: #8E43FF; }
        12% { color: #8F60FF; }
        25% { color: #937AFF; }
        37% { color: #725FFF; }
        50% { color: #A09CFF; }
        62% { color: #6665ed; }
        75% { color: #A4A4FF; }
        87% { color: #7974FF; }
        100% { color: white; }
      }
 
  