.webmadewell {
    background-color: white;
  }
body {
    margin: 0;
    font-size: 16px;
  }
  .sample-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-image: url("https://bq47.short.gy/main-background");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .sample-header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.3;
  }
.sample-header-section {
    position: relative;
    padding: 10% 0 10%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    font-family: "Montserrat-Alt1";
    font-weight: 100;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
h1 {
    font-family: "Montserrat-Alt1",  sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.333vw;
}
h2 {
    font-family: "anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 9.375vw;
    line-height: 0.999em;
    }
h3{
    font-family: 'Poppins', sans-serif;
    font-size: 3.2604vw;
    line-height: 0px;
  }
.sample-section-wrap {
    position: relative;
    background-color: white;
    margin-top: 100vh;
    height: 1000vh;
    width: 100vw;
  }
.kvasola-logo {
    text-align: end;
    height: 10vh;
  }
.kvasola-logo img {
    position: absolute;
    top: -2rem;
    left: 90vw;
    width: 70px;
  }
.sample-section {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  /* TEsting Code  */