.sample-section {
    width: 100vw;
}

#services-sct {
    width: 100vw;
    height: 617px;
}

.services-2 {
    width: 100vw;
    height: 862px;
    border: #E40303 1px solid;
}

.the-team {
    width: 100vw;
    height: 896px;
    border: #FF8C00 1px solid;
}

.latest-work {
    width: 100vw;
    height: 1115.94px;
    border: #FFED00 1px solid;
}

.customer-feedback {
    width: 100vw;
    height: 885px;
    border: #008026 1px solid;
}

.footer-section {
    width: 100vw;
    height: 618px;
    border: #24408E 1px solid;
}